;; Origami Filters EDN: 1.47
;; Generated: Tue Jun 04 14:44:40 JST 2024
[
;l:class coffee.FakeFilter, :rotationAngle 2.0}

;;{:class com.boylett.t.coincounter.CoinCounter}

;;{:class origami.Filters$NoOP}

;;{:class origami.filters.Annotate, :color "#FFFFFF", :fontSize 3.0, :point "50.0,50.0", :text "hello", :thickness 3}

;;{:class origami.filters.AnnotateV2, :color "#FFFFFF", :fontSize 3.0, :point "50.0,50.0", :text "hello", :thickness 3}

;;{:class origami.filters.BackgroundSubstractor, :learningRate 1.0, :showMask false, :useMOG2 false}

;;{:class origami.filters.BitwiseRed}

;;{:class origami.filters.BlackToBlue}

;{:class origami.filters.Canny, :inverted true, :threshold1 100, :threshold2 200}

;;{:class origami.filters.ClojureFilter, :fn "(fn[mat] mat)"}

;{:class origami.filters.ColorFilter, :high 20, :low 0}

;{:class origami.filters.ColorFilter$Blue, :high 240, :low 200}

;;{:class origami.filters.ColorFilter$Pink, :high 320, :low 300}

;;{:class origami.filters.ColorFilter$Red, :high 20, :low 0}

;;{:class origami.filters.ColorMap}

;;{:class origami.filters.ColorMap$Autumn}

;{:class origami.filters.ColorMap$Bone}

;{:class origami.filters.ColorMap$Cividis}

;;{:class origami.filters.ColorMap$Cool}

;;{:class origami.filters.ColorMap$HSV}

;;{:class origami.filters.ColorMap$Hot}

;;{:class origami.filters.ColorMap$Jet}

;;{:class origami.filters.ColorMap$Magma}

;;{:class origami.filters.ColorMap$Ocean}

;;{:class origami.filters.ColorMap$Parula}

;;{:class origami.filters.ColorMap$Pink}

;;{:class origami.filters.ColorMap$Rainbow}

;;{:class origami.filters.ColorMap$Spring}

;;{:class origami.filters.ColorMap$Summer}

;;{:class origami.filters.ColorMap$Turbo}

;;{:class origami.filters.ColorMap$Twilight}

;;{:class origami.filters.ColorMap$TwilightShifted}

;;{:class origami.filters.ColorMap$Viridis}

;;{:class origami.filters.ColorMap$Winter}

;;{:class origami.filters.Contours, :color "#00EEEE", :linetype 8, :offset "0.0,0.0", :thickness 2, :threshold 100}

;;{:class origami.filters.CoolCanny, :inverted false}

;;{:class origami.filters.Decolor, :gray true}

;;{:class origami.filters.DetailEnhance, :sigma_r 0.15, :sigma_s 10.0}

;;{:class origami.filters.DynamicAnnotate, :color "#FFFFFF", :fontSize 3.0, :point "50.0,50.0", :text "(str (java.util.Date.))", :thickness 3}

;;{:class origami.filters.EdgePreserving, :flags 1, :sigma_r 0.4, :sigma_s 60.0}

;;{:class origami.filters.FPS, :color "#FFFFFF", :fontSize 3.0, :point "50.0,50.0", :text "hello", :thickness 3}

;;{:class origami.filters.FastDenoising}

;;{:cX 300.0, :cY 540.0, :class origami.filters.Fisheye, :fishVal 600.0}

;;{:class origami.filters.Gray}

;;{:class origami.filters.Grayscale}

;;{:class origami.filters.GreenLantern}

;;{:class origami.filters.HOG}

;;{:class origami.filters.HttpGet, :interval -1, :url nil}

;;{:class origami.filters.HueSaturationValue$Gotham}

;;{:class origami.filters.HueSaturationValue$Lomo}

;{:class origami.filters.HueSaturationValue$Nashville}

;{:class origami.filters.HueSaturationValue$Pink}

;{:alpha 5.0, :beta 0.4, :class origami.filters.Illumination}

;{:class origami.filters.Level, :n 110}

;{:class origami.filters.Mosaic, :factor 0.05}

;;{:class origami.filters.NoOPFilter}

;{:class origami.filters.PencilSketch, :gray false, :shade_factor 0.05, :sigma_r 0.07, :sigma_s 60.0}

;;{:class origami.filters.Resize, :factor -1.0, :height -1.0, :width -1.0}

;;{:class origami.filters.Rotate$Rotate180}

;;{:class origami.filters.Rotate$Rotate270}

;;{:class origami.filters.Rotate$Rotate90}

;;{:class origami.filters.RotateWithMatrix, :point "50.0,50.0"}

;;{:class origami.filters.Stilyze, :sigma_r 0.07, :sigma_s 60.0}

;;{:class origami.filters.Thresh, :maxVal 255, :sensitivity 100}

;;{:class origami.filters.WatchedFilter, :filePath nil}

;;{:class origami.filters.Zoom, :interpolation 1, :zoomingFactor 5}

;hue input range: [0,360] change to range: [0,180]
;lightness input range: [-100,100] change to range: [-255,255]
;saturation input range: [-100,100] change to range: [-255,255]
;Apply the filter many time
;;{:class origami.filters.artcodes.HlsEditImageProcessor, :hue 0, :light 0, :repeat 1, :saturation 30}

;;{:class origami.filters.artcodes.WhiteBalanceProcessor}

;Change brightness of a mat by apply opencv convertTo
;Alpha values are use from -1 to 3 are good
;Beta values are from -255 to 255
;;{:alpha 1.0, :beta 100.0, :class origami.filters.brandnew.AlteringBrightness}

;;{:alpha 1.0, :beta -80.0, :class origami.filters.brandnew.AlteringBrightness$Darker}

;;{:class origami.filters.brandnew.ArtisticFilter, :colorOverride "0.8,0.3,0.8,0.0", :gradient false, :gradientEnd "0.0,0.0,255.0,0.0", :gradientStart "255.0,255.0,255.0,0.0", :gradientWeight 0.3}

;Changing the contrast and brightness of an image
;{:alpha 1.0, :beta 20, :class origami.filters.brandnew.BasicLinear}

;{:brightnessOffset 20, :center "200.0,100.0", :class origami.filters.brandnew.BrightCircle, :color "#FFddFF", :radius 200}

;{:brightnessOffset 50, :center "100.0,100.0", :class origami.filters.brandnew.BrightCircle$WithHaar, :color "#FFFFFF", :maxSize 500, :minSize 300, :radius 100, :type "haar.frontalface"}

{:blockSize 5, :c 7, :class origami.filters.brandnew.Brushed, :desiredColor "0.0,10.0,103.0,0.0", :kernelSize 7}

;;{:class origami.filters.brandnew.CatMulRom}

;;{:class origami.filters.brandnew.ComicBubble, :cornerRadius 10, :fontScale 1.0, :padding 10, :rotationAngle 30.0, :text "Hello!", :thickness 2}

;Change the contrast with alpha and beta blending
;Default value of 1.5
;Default value of 10
;;{:alpha 1.5, :beta 10.0, :class origami.filters.brandnew.ContrastFilter}

;;{:alpha 0.5, :beta 0.5, :class origami.filters.brandnew.CrackedPaper, :gamma 0.0, :paper nil}

;;{:blurSize 0, :class origami.filters.brandnew.DiffusingLight, :contrastFix 75}

;;{:blurSize 0, :class origami.filters.brandnew.DiffusingLightWithROI, :contrastFix 75}

;{:class origami.filters.brandnew.FakeHDR, :colorAdaptation 1.8, :gamma 0.8, :intensity 3.0, :lightAdaptation 0.3}

;Gamma Correction
{:class origami.filters.brandnew.GammaCorrection, :gamma 0.2}

;;{:alpha 0.5, :beta 0.5, :blur 1.0, :class origami.filters.brandnew.Ghost, :gamma 0.0, :paper "paper2", :sigmaX 30.0}

;;{:class origami.filters.brandnew.GradienteVermelho}

;;{:class origami.filters.brandnew.GradienteVermelho$Horizontal}

;;{:class origami.filters.brandnew.GradienteVermelho$Vertical}

;;{:alpha 1.5, :class origami.filters.brandnew.HighContrast}

;;{:bgColor "#FFFFFF", :bins 20, :class origami.filters.brandnew.Histogram$Circle, :paletteName "sunrise", :paletteReversed false}

;;{:y 0, :paletteName "sunrise", :radiusSize 10, :mainCircleThickness 1, :paletteReversed false, :bins 20, :circleSize 1, :class origami.filters.brandnew.Histogram$Circling, :x 0, :bgColor "#FFFFFF"}

;;{:bgColor "#FFFFFF", :bins 20, :class origami.filters.brandnew.Histogram$Gradient, :paletteName "sunrise", :paletteReversed false}

;;{:bgColor "#FFFFFF", :bins 20, :class origami.filters.brandnew.Histogram$Heart, :paletteName "sunrise", :paletteReversed false}

;;{:bgColor "#FFFFFF", :bins 20, :class origami.filters.brandnew.Histogram$Rect, :paletteName "sunrise", :paletteReversed false}

;;{:class origami.filters.brandnew.HistogramCircle$Grey, :numberOfColors 256, :paletteName "sunrise", :paletteReversed false}

;;{:class origami.filters.brandnew.HistogramCircle$Jet, :colorMap 0, :numberOfColors 256, :paletteName "sunrise", :paletteReversed false}

;;{:class origami.filters.brandnew.Invert}

;;{:sigmaColor 30.0, :paletteName "sunrise", :kernelSize 17.0, :filterD 3.0, :sigmaSpace 75.0, :paletteReversed false, :cannyLow 5.0, :class origami.filters.brandnew.Manga2, :cannyHigh 100.0}

;;{:class origami.filters.brandnew.Matrix, :fontSize 15, :japaneseCharacters "あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわをんアイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨラリルレロワヲン", :numStreams 30, :streamLength 20}

;;{:class origami.filters.brandnew.Mosaical, :color "#000000", :radiusRatio 2, :squareSize 10}

;;{:class origami.filters.brandnew.MostColors, :coefficient 192.0}

;;{:class origami.filters.brandnew.NegativeBW, :darkRatio 0.2}

;;{:class origami.filters.brandnew.Noise}

;;{:alpha 1.2, :beta 100, :channel 1, :class origami.filters.brandnew.PhotoMosaicOne, :gridSize 10, :hueOnly true}

;;{:paletteName "sunrise", :kernelSize 71, :numShapes 15, :paletteReversed false, :sigma 0, :cannyLow 1.0, :class origami.filters.brandnew.Picasso, :bgColor "#FFFFFF", :cannyHigh 250.0}

;;{:shadowThreshold 0.5, :paletteName "sunrise", :varMax 75.0, :shadowValue 127, :paletteReversed false, :detectShadows true, :varThreshold 16.0, :complexityReductionThreshold 0.05000000074505806, :history 500, :varMin 4.0, :maxContour -1, :backgroundRatio 0.8999999761581421, :varThresholdGen 9.0, :NMixtures 5, :class origami.filters.brandnew.PinkForeground, :varInit 15.0}

;;{:alpha 0.7, :beta 0.7, :class origami.filters.brandnew.PinkTilt, :color "indian_red", :gamma 10.0}

;;{:class origami.filters.brandnew.PixelSepia, :depth 20, :intensity 30}

;;{:class origami.filters.brandnew.RedBlack, :color0 "black", :color1 "red_1", :color2 "gray", :contourColor "white"}

;;{:class origami.filters.brandnew.RedBlack2}

;;{:baseColor "white", :class origami.filters.brandnew.ReducePixels, :pixelCount 3}

;;{:baseColor "white", :class origami.filters.brandnew.ReducePixels2, :pixelCount 3}

;;{:class origami.filters.brandnew.ShadowFilter, :lightSourceX 100, :lightSourceY 100, :shadingFactor 0.5}

;;{:class origami.filters.brandnew.Shepard, :high 255, :low 127, :numLines 50, :specifiedColor "#FFFFFF", :thickness 1}

;;{:class origami.filters.brandnew.SlowBW$V1}

;;{:class origami.filters.brandnew.SlowBW$V2, :leftToRight false}

;;{:class origami.filters.brandnew.SmallMats, :mainCols 3, :mainRows 4, :max 10000}

;{:class origami.filters.brandnew.Sobelo}

;{:class origami.filters.brandnew.Vignetting}


;{:sigmaColor 75, :blue 1.8 :blockSize 3, :maxCount 1, :kernelSize 7, :sigmaSpace 75, :ksize 7, :k 8, :c 5, :class origami.filters.brandnew.anime.Anime, :epsilon 1.0E-4, :d 9}

;{:class origami.filters.brandnew.art.Noisy, :noiseDev 80.0, :noiseMean 10.0, :ratio1 0.4}

;;{:class origami.filters.brandnew.art.NoisyBlock}

;{:blockSize 20, :class origami.filters.brandnew.art.NoisyBlockV2, :ratio 0.3}

;{:class origami.filters.brandnew.art.SlowArtFilter}

;{:ratio2 0.5, :min 200.0, :aperture 3, :sigmaSpace 75, :blur 67, :max 255.0, :class origami.filters.brandnew.art.SlowArtFilter2, :gradient true, :signmaColor 75, :d 31, :invert true}

;{:adjustColorPalette true, :attempts 3, :brightness 10.0, :class origami.filters.brandnew.art.UkiyoeStyle, :clusters 64, :maxCount 50, :saturation 10.0}

;{:class origami.filters.brandnew.child.ChildLikeImage, :combined true, :numberOfTouches 20, :paletteName "sunrise", :paletteReversed false, :radiusBound 15, :zoomIn 3, :zoomOut 10}

;{:class origami.filters.brandnew.queen.HotSpace, :lower 5, :upper 50}
;{:class origami.filters.brandnew.FilmNoir}

;;{:class origami.filters.brandnew.queen.Queen$BlackWhite, :lower 10, :main "#FFFFFF", :sub "#000000", :upper 150}

;;{:class origami.filters.brandnew.queen.Queen$Brian, :lower 10, :main "#C3C3C3", :sub "#FCFF02", :upper 150}

;;{:class origami.filters.brandnew.queen.Queen$Freddy, :lower 10, :main "#43007C", :sub "#FF0006", :upper 150}

;;{:class origami.filters.brandnew.queen.Queen$John, :lower 10, :main "#FE2400", :sub "#049CC3", :upper 150}

;;{:class origami.filters.brandnew.queen.Queen$Roger, :lower 10, :main "#FE2C99", :sub "#029020", :upper 150}

;;{:blockSize 9, :c 2, :class origami.filters.cartoon.Cartoon, :d 13, :ksize 7, :maxValue 255.0, :sigmaColor 13, :sigmaSpace 7}

;;{:class origami.filters.cartoon.Cartoon2}

;;{:class origami.filters.cartoon.LUTCartoon}

;;{:class origami.filters.cartoon.Manga}

;;{:class origami.filters.cartoon.NewCartoon, :lineSize 17}

;;{:aperture 3, :blur 7, :class origami.filters.cartoon.NewCartoon2, :kmeans 8, :lineSize 17}

;;{:class origami.filters.detect.EastTextDetector}

;;{:class origami.filters.detect.Haar, :color "255.0,255.0,255.0,0.0", :text "Gatos", :type "haar.frontalcatface"}

;;{:class origami.filters.detect.yolo.MyYolo$V2}

;;{:class origami.filters.detect.yolo.MyYolo$V2Tiny}

;;{:class origami.filters.detect.yolo.MyYolo$V3}

;;{:class origami.filters.detect.yolo.MyYolo$V3Tiny}

;;{:class origami.filters.detect.yolo.MyYolo$V4}

;;{:class origami.filters.detect.yolo.MyYolo$V6L, :nmsThreshold 0.1, :scoreThreshold 0.7}

;;{:class origami.filters.detect.yolo.MyYolo$V6M, :nmsThreshold 0.1, :scoreThreshold 0.7}

;;{:class origami.filters.detect.yolo.MyYolo$V6N, :nmsThreshold 0.1, :scoreThreshold 0.7}

;;{:class origami.filters.detect.yolo.MyYolo$V6S, :nmsThreshold 0.1, :scoreThreshold 0.7}

;;{:class origami.filters.detect.yolo.MyYolo$V6Star, :network "networks.yolo:yolov6s:3.0", :nmsThreshold 0.1, :scoreThreshold 0.7}

;;{:class origami.filters.detect.yolo.YoloV6, :nmsThreshold 0.1, :scoreThreshold 0.7}

;;{:alpha 2.0, :beta 50.0, :class origami.filters.dip.EnhanceImageBrightness}

;;{:class origami.filters.dip.EnhanceImageContrast}

;;{:class origami.filters.dip.EnhanceImageSharpness}

;;{:class origami.filters.dip.ErodingDilating, :dilationSize 5, :erosionSize 5}

;;{:class origami.filters.dip.GaussianFilter, :sigmaX 0, :size "11.0,11.0"}

;;{:chosenGlyphOffset 0.0, :chosenGlyphPosition nil, :class origami.filters.doge.GlyphDetector, :foundRect false, :frameSize #object[org.opencv.core.Size 0x65c17e38 "0x0"]}

;;{:class origami.filters.doge.LeviColorFilter, :color "RED", :threshold -1.0}

;;{:brightness 50, :class origami.filters.inprogress.Fake3D$V1, :contrast 1.5}

;;{:class origami.filters.inprogress.Fake3D$V2}

;;{:class origami.filters.inprogress.Fake3D$V3}

;;{:class origami.filters.inprogress.Kandinsky}

;;{:class origami.filters.inprogress.Kandinsky2}

;;{:class origami.filters.inprogress.ShadowFilter2}

;;{:class origami.filters.inprogress.SquareSplitter}

;;{:class origami.filters.inprogress.Waves}

;;{:class origami.filters.instagram.Lark}

;;{:class origami.filters.instagram.Mayfair}

;;{:class origami.filters.instagram.Sepia$Gray}

;;{:class origami.filters.instagram.Sepia$Red}

;;{:alpha 0.8, :beta 0.2, :class origami.filters.instagram.SunGlasses$Blue, :color "255.0,0.0,0.0,0.0", :gamma 0.0}

;;{:alpha 0.8, :beta 0.2, :class origami.filters.instagram.SunGlasses$Green, :color "0.0,255.0,0.0,0.0", :gamma 0.0}

;;{:alpha 0.8, :beta 0.2, :class origami.filters.instagram.SunGlasses$Purple, :color "128.0,0.0,128.0,0.0", :gamma 0.0}

;;{:alpha 0.8, :beta 0.2, :class origami.filters.instagram.SunGlasses$Red, :color "0.0,0.0,255.0,0.0", :gamma 0.0}

;;{:alpha 0.8, :beta 0.2, :class origami.filters.instagram.SunGlasses$Salmon, :color "114.0,128.0,250.0,0.0", :gamma 0.0}

;;{:alpha 0.8, :beta 0.2, :class origami.filters.instagram.SunGlasses$Turquoise, :color "208.0,224.0,64.0,0.0", :gamma 0.0}

;;{:alpha 0.8, :beta 0.2, :class origami.filters.instagram.SunGlasses$Yellow, :color "0.0,255.0,255.0,0.0", :gamma 0.0}

;;{:class origami.filters.instagram.Valencia}

;;{:class origami.filters.instagram.Vintage}

;;{:class origami.filters.instagram.Walden}

;;{:class origami.filters.instagram.gpt.Gotham}

;;{:class origami.filters.instagram.gpt.Lark}

;;{:class origami.filters.instagram.gpt.Mayfair}

;;{:class origami.filters.instagram.gpt.Melbourne}

;;{:class origami.filters.instagram.gpt.Nashville}

;;{:class origami.filters.instagram.gpt.ShadowEnhance}

;;{:class origami.filters.instagram.gpt.XProII}

;;{:class origami.filters.isaac.ALTMRetinex}

;;{:class origami.filters.isaac.DarkChannelPriorDehaze}

;;{:class origami.filters.isaac.FusionEnhance}

;;{:class origami.filters.isaac.OptimizeContrastEnhance}

;;{:class origami.filters.isaac.RemoveBlackScatter}

;;{:class origami.filters.runtime.RuntimeFilter, :className "filters.myfilter", :watch false}

;;{:class origami.filters.video.EarlyDaysOfColorTV}

;;{:class origami.filters.video.OldFilm}

;;{:class origami.filters.video.Terminator}

;;{:class origami.filters.video.VHS}

;;{:class origami.filters.video.VHSEnhanced}

;;{:class origami.filters.video.sub.ColorDistortion}

;;{:class origami.filters.video.sub.ColorSeparation}

;;{:class origami.filters.video.sub.GridPattern$V1, :probability 0.02, :size 40}

;;{:class origami.filters.video.sub.GridPattern$V2, :spacing 45, :thickness 3}

;;{:blockSize 20, :class origami.filters.video.sub.RandomBlue}

;;{:class origami.filters.video.sub.RandomNoise}

;{:class origami.filters.video.sub.RedTint}

;;{:class origami.filters.video.sub.ScanLines$Fat}

;;{:class origami.filters.video.sub.ScanLines$Simple}

;;{:class origami.filters.video.sub.Scratches}

;;{:class origami.filters.video.sub.ShuffleChannels}

;;{:class origami.filters.video.sub.Vignetting}

;{:blue 1.0, :class origami.filters.xphoto.ChannelGains, :green 1.0, :red 1.3}

;{:class origami.filters.xphoto.DtcDenoising, :psize 6, :sigma 21.0}

;;{:class origami.filters.xphoto.GrayWorldWB, :saturationThreshold 1.2}

;{:class origami.filters.xphoto.OilPainting, :code 55, :ratio 2, :size 17}

;;{:class origami.filters.xphoto.SimpleWB, :inputMax 255.0, :inputMin 0.0, :outputMax 255.0, :outputMin 0.0, :p 1.0}


]
